# 1. Alle Standard-Ordner ignorieren
/node_modules/
/.next/
/out/
/build/
/public/
/.vercel/
/coverage/

# 2. Nextjs-Dateien ignorieren
eslint.config.mjs
next-env.d.ts
next.config.ts
package-lock.json
postcss.config.mjs
package.json
tsconfig.json

# 3. SSH-Dateien ignorieren
git_ssh*
vm_ssh*

# 4. Den kompletten App-Ordner ignorieren...
app/favicon.ico
app/globals.css
app/layout.tsx
app/page copy 2.tsx
app/page copy.tsx
app/page.module copy 2.css
app/page.module copy.css
app/page.module.css
app/page.tsx
# ...aber bestimmte Unterordner erlauben
!/app/blog/*

# 5. Wichtig: Nicht alles mit *.* ignorieren - das entfernen wir komplett!
